body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 160px;
}

.main{
    background: #FFFFFF;
    border-radius: 4px;
    width: 640px;
    height: 264px;
}
.avtorizaciya{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.vvedite{
    width: 198px;
    height: 16px;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-left: 16px;
    margin-top: 16px;
}
input{
    width: 608px;
    height: 48px;
    border: 0.5px solid #DADADA;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 16px;
    margin-top: 8px;
}

a{
    width: 384px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 128px 48px 128px;
    color: #FFFFFF;
    text-decoration: none;
}